/* css styling */

body {
    background-color: #FEF9E7;
}

p {
    text-align: center;
    font-size: large;
}


#first-header {
    outline-style: dotted;
    outline-color: blue;
    border-radius: 25px;
    text-align: center;
}

img.resize {
    width:30%;
    height:30%;
}
