/* css styling */

body {

    background-color: #FEF9E7;

}

#first-header {

    outline-style: dotted;
    outline-color: blue;
    border-radius: 25px;
    text-align: center;
//    width: 300px;
		       
}

p {

    text-align: center;
    font-size: large;
}
