/* css styling */

body {
    background-color: #FEF9E7;
}

p {
    text-align: center;
    font-size: 2em;
}


#first-header {
    /*border-radius: 25px;
    border: 2px solid lightblue;
    padding: 20px;*/
    text-align: center;
    font-size: 3em;
}


#intro-p {
    background-color: lightgreen;
}


#profilepic {
    text-align: center;
}

#projects {
}

#resume {
    background-color: cyan;

}

#rlink{
    text-align: center;
}

#contact {
    background-color: pink;
}

.someheader {
    text-align: center;
    font-size: 2em;    
}

.resize {
    width: 15%;
    height: 15%;
}


#navbar {
    text-align: center;
}

#navbar li {
    border-radius: 25px;
    padding: 4px;
    border: 4px solid blue;
    display:inline-block;
    margin:30px;
    font-size: 2em;
    /*background-color: white;*/
}

#navbar li:hover {
    background-color:lightblue;
}
